body {
  margin: 0;
}

.modal--open {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  text-align: center;
}

.modal--closed {
  position: fixed;
  right: 100vw;
  opacity: 0;
}

.sign-in--open .sign-in__title {
  font-family: "Bubblegum Sans", cursive;
  font-size: 1.5rem;
  margin: 0 0 40px 0;
}

.sign-in--open .color {
  width: 40%;
  margin: 0 auto 20px auto;
}

.sign-in--open .color .color__title {
  font-size: 0.9rem;
  margin: 0 0 5px 0;
  font-weight: normal;
}

.sign-in--open .color .color__container {
  display: -ms-grid;
  display: grid;
}

.sign-in--open .sign-in__have-account {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.sign-in--open .sign-in__switch {
  padding: 10px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #2e7d32;
  color: #2e7d32;
  background-color: white;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.sign-in--closed {
  position: fixed;
  right: 100vw;
  opacity: 0;
}

.log-in--open .log-in__title {
  font-family: "Bubblegum Sans", cursive;
  font-size: 1.5rem;
  margin: 0 0 40px 0;
}

.log-in--open .log-in__set-account {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.log-in--open .log-in__switch {
  padding: 10px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #2e7d32;
  color: #2e7d32;
  background-color: white;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.log-in--closed {
  position: fixed;
  right: 100vw;
  opacity: 0;
}

.username {
  margin: 0 0 20px 0;
}

.username .username__label {
  display: block;
  font-size: 0.9rem;
  margin: 0 0 5px 0;
}

.email {
  margin: 0 0 20px 0;
}

.email .email__label {
  display: block;
  font-size: 0.9rem;
  margin: 0 0 5px 0;
}

.password {
  margin: 0 0 20px 0;
}

.password .password__label {
  display: block;
  font-size: 0.9rem;
  margin: 0 0 5px 0;
}

.circle-picker {
  -ms-grid-column-align: center;
      justify-self: center;
}

.submit {
  margin-bottom: 20px;
}

.submit .submit__button {
  padding: 10px 30px;
  border-style: none;
  border-width: 0;
  background-color: #2e7d32;
  color: white;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
